$gray: #635f85;
$green-light: #00633d;
$green-dark: #07913a;
$green-bg: #e5f3ed;
$second-color: #ffe100;
$button-color: #f03a2d;
$body-bgc-color: #dae8d4;
$body-gray-color: #f3f3f3;
$gray-light2-color: #e5e5e5;
$gray-light-color: #f8f8f8;
$black-color: #000;
$text-color: #231815;
$text-gray: #626161;
$white-color: #fff;
$desc-bgc: rgba(0, 0, 0, 0.3);
$btn-bgc: rgba(255, 255, 255, 0.5);
$border-radius: 8px;
$mobile-width: 767px;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$mobile-small-width: 500px;
$tablet-mini-width: 1023px;
$tablet-width: 1024px;
$slide-height: 80vh;
$bg-overlay: rgba(
  $color: #000,
  $alpha: 0.2,
);
$bg-img: linear-gradient(0deg, #0f0f0f, transparent);
$ja-font: 'Noto Sans JP', sans-serif;
$eng-font: 'Poppins', sans-serif;
