.opencampus {
  width: 100%;
  height: 650px;
  border-top: 1px solid $body-gray-color;
  border-bottom: 1px solid $body-gray-color;
  position: relative;
  display: flex;
  &-bg {
    position: absolute;
    max-width: 900px;
    z-index: -10;
    left: 50%;
    transform: translateX(-50%);
    @include tablet {
      max-width: 600px;
    }
    @include mobile {
      max-width: 100%;
    }
    img {
      object-fit: contain;
      z-index: -10;
    }
  }
  &-logo {
    position: absolute;
    width: 400px;
    right: 10%;
    top: 65%;
    transform: rotate(30deg);
    @include tablet {
      width: 300px;
      right: 3%;
      top: 60%;
      transform: rotate(20deg);
    }
    @include tablet-mini {
      width: 200px;
      top: 70%;
      right: 8%;
    }
    @include mobile {
      width: 150px;
      top: 65%;
      transform: rotate(20deg);
    }
  }
  &-human {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 400px;
    height: auto;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
    @include tablet-mini {
      width: 250px;
      left: 0;
    }
    @include mobile {
      width: 250px;
    }
  }

  @include tablet {
    height: 600px;
  }
  @include tablet-mini {
    height: 470px;
  }
  @include mobile {
    height: 450px;
  }
  &-img {
    display: block;
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      display: block;
      margin-top: 100px;
      width: 600px;
      padding: 20px;
      background-color: rgba($color: $white-color, $alpha: 0.6);
      @include tablet-mini {
        width: 500px;
      }
      @include mobile {
        width: 350px;
        margin-top: 100px;
      }
    }
  }
  &-text {
    font-size: 40px;
    color: $green-light;
    font-weight: bold;
    padding: 20px;
    padding-top: 10px;
    display: inline-block;
    background-color: rgba($color: $white-color, $alpha: 0.6);
    @include tablet {
      font-size: 30px;
    }
    @include tablet-mini {
      font-size: 20px;
    }
    @include mobile {
      font-size: 15px;
      padding: 10px;
    }
  }
  &-btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 160px;
    color: $white-color;
    text-decoration: none;
    font-size: 25px;
    transition: 0.25s ease;
    background-color: $black-color;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    @include tablet-mini {
      padding: 20px 80px;
      font-size: 20px;
    }
    @include mobile {
      padding: 15px 60px;
      font-size: 16px;
      width: 250px;
      bottom: 16%;
    }
    i {
      position: absolute;
      right: 25%;
      transition: 0.25s ease;
    }
    &:hover {
      background-color: #333;
      transition: 0.25s ease;
      i {
        transform: translateX(10px);
        transition: 0.25s ease;
      }
    }
  }
}

// modal
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
}
.modal.is-show {
  opacity: 1;
  visibility: visible;
}
.modal-content {
  max-width: 600px;
  padding: 50px;
  border-radius: 20px;
  background-color: $second-color;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $body-gray-color;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
  transition: 0.25s linear;
  color: $green-light !important;
  &:hover {
    opacity: 0.7;
    transition: 0.25s linear;
  }
}
.modal-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  transition: 0.25s linear;
  margin-top: 30px;
  background-color: $button-color;
  font-size: 18px;
  color: $white-color;
  border-radius: 50px;
  text-decoration: none;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: inherit;
    animation: fade 1s forwards infinite linear;
  }
  &:hover {
    opacity: 0.7;

    i {
      transition: 0.25s linear;
      transform: translateX(10px);
    }
  }
  i {
    margin-left: 10px;
    transition: 0.25s linear;
  }
  @include mobile {
    font-size: 16px;
  }
}
@keyframes fade {
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
.modal-text {
  color: $green-light;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  &::after {
    position: absolute;
    content: '';
    bottom: -10px;
    width: 100px;
    height: 3px;
    background-color: $button-color;
    left: 50%;
    transform: translateX(-50%);
  }
  @include mobile {
    font-size: 16px;
  }
}
.modal-human {
  position: absolute;
  bottom: -10px;
  right: 0%;
  width: 140px;
  @include mobile {
    width: 100px;
  }
}
