.quote {
  padding: 65px 0;
  background-color: $body-gray-color;
  margin-top: 100px;
  position: relative;
  margin-bottom: 150px;

  @include mobile {
    padding-bottom: 100px;
    padding-top: 40px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  &-icon {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 20%;
    @include tablet-mini {
      width: 120px;
      right: 3%;
    }
  }
  &-item {
    display: flex;
    margin: 5px;
    @include flexbox(center);
    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    margin-right: 50px;
    @include flexbox(center);
    @include tablet-mini {
      width: 180px;
      height: 180px;
    }
    @include mobile {
      width: 150px;
      height: 150px;
      margin-right: 0;
    }
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      @include tablet-mini {
        width: 180px;
        height: 180px;
      }
      @include mobile {
        width: 150px;
        height: 150px;
      }
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  &-desc {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 25px;
    font-style: italic;
    color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    @include textClamp(5);
    @include tablet-mini {
      font-size: 20px;
    }
    @include mobile {
      font-size: 18px;
      padding: 10px;
    }
  }
  &-author {
    font-size: 24px;
    position: relative;
    padding-left: 70px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    span {
      margin-right: 10px;
    }
    @include mobile {
      font-size: 18px;
    }
    &:before {
      content: '';
      @include absoluteCenter('top');
      background-color: $button-color;
      font-family: $eng-font;
      width: 60px;
      height: 4px;
      left: 0;
    }
  }
}

// slick
.slick-initialized .slick-slide {
  display: flex;
}
.slick-arrow {
  background-color: transparent;
  border: 0;
  color: $gray;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem 2rem;
  @include absoluteCenter('top');
  z-index: 10;
}
.slick-prev {
  left: 0;
  @include mobile {
    display: none;
  }
}
.slick-next {
  right: -0;
  @include mobile {
    display: none;
  }
}
